
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
display: flex;
}

.left-section {
  background-color: #8b8c8d;
  height: 84vh;
  width: 40%;
  margin: 10px;
}
.right-section {
  background-color: #8b8c8d;
  height: auto;
  width: auto;
  margin: 10px;
}